body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header, .hero {
  display: flex;
  padding: 16px 400px;
  background-color: #1F2937;
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  align-items: center;
}

.logo {
  flex-grow: 1;
  font-weight: 900;
  font-size: 24px;
  color: #f9faf8;
}

.header-links > a, .hero-container > p {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero {
  padding: 50px 400px;
  gap: 50px;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 0;
  flex-shrink: 1;
}

button {
  background-color: #3882F6;
  color: #f9faf8;
  font-size: 18px;
  padding: 7px 32px;
  border-radius: 5px;
  font-weight: bold;
}

.hero > img {
  min-width: 200px;
  max-width: 500px;
}

.info-section > h2 {
  text-align: center;
  margin-bottom: 40px;
}

.info-section {
  padding-top: 50px;
  padding-bottom: 80px;
}

.info-container {
  display: flex;
  justify-content: center;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.info p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.info-image {
  min-width: 10px;
  max-width: 40%;
  border: #3882F6 solid 5px;
  border-radius: 20px;
}