body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.header, .hero {
  display: flex;
  padding: 16px 400px;
  background-color: #1F2937;
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  align-items: center;
}

.logo {
  flex-grow: 1;
  font-weight: 900;
  font-size: 24px;
  color: #f9faf8;
}

.header-links > a, .hero-container > p {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero {
  padding: 50px 400px;
  gap: 260px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 0;
  flex-shrink: 1;
}

button {
  background-color: #3882F6;
  color: #f9faf8;
  font-size: 18px;
  padding: 7px 32px;
  border-radius: 5px;
  font-weight: bold;
}

img {
  width: 400px;
}